body {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  /* background-image: url("/public/img/The_New_York_Times_logo.png"); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
